.App {
  text-align: center;
  background-color: blue;
  height: 120% !important;
  width: 100% !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.A-style{
  text-align: center;
  background-color: orange;
  height: 120% !important;
  width: 100% !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.B-style{
  text-align: center;
  background-color: yellow;
  height: 120% !important;
  width: 100% !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.C-style{
  text-align: center;
  background-color: green;
  height: 120% !important;
  width: 100% !important;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cont_box{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 40%;
  max-width: 50%;
}

.inputforms{
  width: 10%;
}

.helptext{
  margin: 20px;
}